<form class='massageToMe' action="/{#LANGUAGE_URL}action/maillist/subscribe/" name="maillist" id="maillist_subscibe" delta-ajax="on">
    <b>{text name="MSG_FORM_SUBSCRIBE"}</b>
    <div class='input_wrap'>
        <div id="maillist_error" class="hint" ></div>
        <input type='text' class='selectorP placedefault' name="email" value='{text name="MSG_FORM_SUBSCRIBE_EMAIL"}' />
        <input type='submit' class='b_red' value='{text name="MSG_FORM_SUBSCRIBE_NOW"}' />
    </div>    
</form>