<div class="main">
<div class="container-fluid">
    {if $image_top}
    <div class="big-img">
        <img alt="{$name}" data-original="{$image_top}" src="/design/vinzer/img/blank.gif" />
    </div>
    {/if}
</div>
</div>
