<tmpl:dealer>
    <button type="button" class="dealer-suggestion marker-alpha first-dealer" onclick="checkDealer({$id}, '{$dealer_name}');">
        {$name} {if $city}<b>- {$city}</b>{/if}
    </button>
</tmpl:dealer>
