{*
<tmpl:new2>
    
{$uniq_name} <br/>
{$name} <br/>
{$url} <br/>
{$class} <br/>
 <hr/><hr/>  
    
</tmpl:new2>


<tmpl:new1>
 
 {$id} <br/>
 {$headline} <br/>
 {$views} <br/>
 {$url} <br/>
 {$month_txt} <br/>
 {$day_txt} <br/>
 {$year_txt} <br/>
 {$show_time} <br/>
 {$type_id} <br/>
 {$type_uniq} <br/>
 {$type} <br/>
 {$type_url} <br/>
 {$date_txt} <br/>
 <hr/>

</tmpl:new1>

*}

<tmpl:cat> 
    
            {$uniq_name} <br/>
            {$name} <br/>
            {$url} <br/>
            {$class} <br/>
            <hr/><hr/> 
    
        <tmpl:news>           
            
                {$id} <br/>
                {$headline} <br/>
                {$views} <br/>
                {$url} <br/>
                {$month_txt} <br/>
                {$day_txt} <br/>
                {$year_txt} <br/>
                {$show_time} <br/>
                {$type_id} <br/>
                {$type_uniq} <br/>
                {$type} <br/>
                {$type_url} <br/>
                {$date_txt} <br/>
                <hr/>            

        </tmpl:news>

</tmpl:cat>