<div class="col-xs-12">
    <section class="wrap__gift">
        <div class="gift__heading">
            <div class="wrap_heading">
                <h2>Подарунки для твого <b>меган</b>ового життя</h2>
                <h3>Купуй новий Renault Megane та бери участь у розіграші атрибутів <b>меган</b>ового життя</h3>
            </div>
            <div class="wrap_image">
                <div class="round_imgs">
                    <div class="wrap_round">
                        <div class="round_suit">
                            <img src="/design/renault/img/gift/clock.png" alt="">
                            <p>5 годинників від Renault Boutique</p>
                        </div>
                        <div class="round_clock">
                            <img src="/design/renault/img/gift/suit.png" alt="">
                            <p>Індивідуальний пошив костюма та туфлі</p>
                        </div>
                        <div class="line"></div>
                    </div>
                </div>
                <div class="center_img">
                    <img src="/design/renault/img/gift/car.png" alt="">
                </div>
                <span class="bottom_line"></span>
            </div>

        </div>
        <div class="gift__info">
            <h3>А також отримай гарантований подарунок* від Renault Megane – одну з 200 фірмових чашок!</h3>
            <div class="row">
                <div class="col-xs-12 col-lg-6">
                    <ol class="info_text">
                        <li>
                            <p>Дізнайся, який ти СЕО</p>
                            <a href="" class="test">Тест<span></span></a>
                        </li>
                        <li><p>Поділися результатом з друзями</p> </li>
                        <li>
                            <p>Пройди тест-драйв нового Renault Megane</p>
                            <a href="#" class="registered">Реєструйся<span></span> </a>
                        </li>
                        <li><p>Отримай свій подарунок в автоцентрі</p></li>
                    </ol>
                </div>
                <div class="col-xs-12 col-lg-6">
                    <img src="/design/renault/img/gift/cup.png" alt="" class="cup_img">
                </div>
            </div>
        </div>
        <div class="gift__subtext">
            <h2>Почни <b>Меган</b>ове життя з новим Renault Megane</h2>
            <p>*Кількість подарунків обмежена. Акція припиняється після закінчення подарунків в автоцентрах Renault</p>
        </div>
    </section>
</div>
