<tmpl:gallery>
    <div style="display: none;" class="gallery_ajax">
        <div class="col-md-12">
            <a href="/uploads/{$photo}" class="photo-plus"><img src="/i/gallery/{$photo}" alt="{$title}"/></a>
        </div>
    </div>
</tmpl:gallery>   
