<div class="service__item service__item-right {if $show_title} with-title {/if}">

{* $admin_link *}
{if $show_title}
    <div class="infoblock__title">{$title}</div>
    {if $subtitle}<div class="infoblock__subtitle">{$subtitle}</div>{/if}
{/if}            
<tmpl:message>
  
    <div class="container">{if $image}<img src="{$image}" alt="{$name}"  height="400px" class="service-mob" align="midle"/>{/if}</div>
        <div>
            <div class="service__box__inside">
                <div class="h2"><p style="color:red;">{$name}</p></div>
                {if $index == 1}{@admin_link}{/if}
                {if $description}<p >{$description}</p>{/if}
                {if $link}<a href="{$link}" class="btn-blue">{if $button}{$button}{else}{text name="MSG_SITE_READMORE"}{/if}</a>{/if}    
            </div>
        </div>
</tmpl:message>

</div>